.main {
  display: grid;
  place-items: center;
  font-family: "Merienda", cursive;
}
.todo_input input {
  color: blue;
  font-family: "Merienda", cursive;
  background-color: rgb(239, 253, 247);
}
.header {
  color: blue;
}
.to-do-list {
  border-style: solid;
  border-width: medium;
  border-color: lightgrey;
  margin-top: 40px;
  width: 50%;
}
.edit_input input {
  color: orangered;
  font-family: "Merienda", cursive;
  background-color: rgb(239, 253, 247);
}
